<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078219339015-mn3fgd60r15vnni1qlughjcb1njksn01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078219339015-mn3fgd60r15vnni1qlughjcb1njksn01</string>
	<key>API_KEY</key>
	<string>AIzaSyAkEz-g4v0txMYUI6MAgIQkXovTXcTs4Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>1078219339015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liquiddxb.liquid</string>
	<key>PROJECT_ID</key>
	<string>liquiddxbbeta</string>
	<key>STORAGE_BUCKET</key>
	<string>liquiddxbbeta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078219339015:ios:dea1f1e97193417f</string>
	<key>DATABASE_URL</key>
	<string>https://liquiddxbbeta.firebaseio.com</string>
</dict>
</plist>
